<h2 class="col-md-4">Formacion</h2>
<div class="estiloTag d-flex" style="background: rgb(167, 238, 229);" *ngFor="let formacion of formacionData.estudios">
    <!--ICONO-->
    <div class="col-md-4 ubicationimg" style="background: rgb(159, 159, 218);">
        <i><img [src]="formacion.img" alt="formacion academica"></i>
    </div>
    <!--Detalle-->
    <ul>
        <li class="listyle">  
                <p>{{formacion.tipo}}</p>
                <h5>{{formacion.institucion}}</h5>
                <h6>{{formacion.titulo}}</h6>
                <p><strong>Inicia:</strong> {{formacion.start}}</p>
                <p><strong>Finaliza:</strong> {{formacion.end}}</p>
        </li>
    </ul>
</div>
