<div class="cardMaster">

    <h3><strong>Formación</strong></h3>
    <div class="cardChild d-flex" *ngFor="let formacion of formacionData.estudios">

        <!--ICONO-->
        <div class="col-sm-4 iconform">
            <i><img [src]="formacion.img" alt="formacion academica"></i>
        </div>
    
        <!--Detalle-->
        <div class="col-sm-8">
            <div class="row contentForm">
                <div class="col-sm-4 cardli">
                    <h6>{{formacion.tipo}}</h6>
                    <h5>{{formacion.institucion}}</h5>
                </div>
                <div class="col-sm-7 cardli">
                    <p>{{formacion.titulo}}</p>
                    <p>Inicia: {{formacion.start}}</p>
                    <p>Finaliza: {{formacion.end}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
