.img-estetica {
    border-radius: 60%;
    border: #8108e454 solid 3px;  
}
.img-estetica:hover {
    border-radius: 60%;
    border: #eae3f0bb solid 3px;  
}

.imagenn {
    position: absolute;
    top: 26%;
    left: 19%;
}

@media only screen and (min-width: 400px) and (max-width: 720px) {

    /* Diseños Responsivos*/

    .imagenn {
        display: none;
        position: absolute;
        top: 10%;
        left: 12%;
        transition-duration: 1500ms;
        border: #eae3f0bb solid 3px;
    }
}