.activex {
    color: #198754;
    margin-left: 0.6rem;
    font-size: 12px;
    text-align: center;
    border-bottom: #198754 1px solid;
    border-top: #198754 1px solid;
    padding: 1px;
}

.iconos-container {
    align-content: center;
    align-items: center;
}