* {
    margin: 0;
    padding: 0;
  }

.iconform img {
    border-radius: 50px;
  }

.contentForm {
    justify-content: space-between;
}

.cardMaster {
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
}

.cardMaster:hover {
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.452);
}

.cardChild {
    padding: 10px;
    align-items: center;
    border-top: 1px solid;
}

.cardMaster h3 {
    margin-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 5px;
}

#addBtn a {
    position: absolute;
    right: 85px;
    top: 5px;
    color: rgb(17, 0, 255);
}

@media only screen and (min-width: 400px) and (max-width: 720px) {

    /* Diseños Responsivos*/
    .cardChild {
        padding: 10px;
        align-items: flex-end;
        align-items: center;
    }
    .iconform img {
        height: 50%;
        width: 50%;
      }
    .cardMaster h3 {
        padding-left: 0px;
        text-align: center;
    }
}