<div class="cardMaster" *ngIf="vistaNormal">

    <h3><strong>Hard & Soft-Skills</strong></h3>
    <!--ADD BTN -->
    <div id="addBtn">
        <a (click)="switchToadd()" class="btn btn-octicon float-right p-2" aria-label="Add this file">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-plus-square-fill" viewBox="0 0 16 16" style="">
                <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
            </svg>
        </a>
    </div>

    <div class="cardChild d-flex">

        <div class="container">

            <table class="table">

                <thead>
                    <tr>
                        <th scope="col-sm-3">Nombre</th>
                        <th scope="col-sm-5">Descripción</th>
                        <th scope="col-sm-4">Avance</th>
                    </tr>
                </thead>

                <tbody *ngFor="let skills of habilidadesData">
                    <tr>
                        <td class="col-sm-3"><strong>{{skills.nombre}}</strong></td>
                        <td class="col-sm-5" style="font-size: 14px;">{{skills.descripcion}}</td>
                        <td class="col-sm-4">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:{{skills.avance}}%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{skills.avance}}%</div>
                            </div>

                            <!--Mostrar solo si esta logeado()-->
                            <div class="container d-flex" id="interactiveBtns">
                                <!-- EDIT BTN -->
                                <div id="editBtn" class="col-sm-6">
                                    <a (click)="switchToEdit(skills.id)" class="btn btn-octicon float-right p-2"
                                        aria-label="Edit this file"><svg aria-hidden="true" height="16"
                                            viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
                                            class="octicon octicon-pencil" style="color: rgba(17, 0, 255, 0.61);">
                                            <path fill-rule="evenodd"
                                                d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z">
                                            </path>
                                        </svg></a>
                                </div>
                                <!-- DEL BTN -->
                                <div id="delBtn" class="col-sm-6">
                                    <a (click)="delete(skills.id)" class="btn btn-octicon float-right p-2"
                                        aria-label="Add this file">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16"
                                            style="color: rgba(255, 30, 0, 0.61);">
                                            <path
                                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>

                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

<!-- Agregar Habilidad -->
<section class="cardMaster" *ngIf="vistaAdd">
    <h3><strong>Nueva Habilidad</strong></h3>

    <form class="cardChild">

        <select id="skillType" class="form-select">
            <option value="1">Selecciona un tipo</option>
            <option value="2">Hard-Skill</option>
            <option value="3">Soft-Skill</option>
        </select>

        <label for="newName" class="form-label">Nombre</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="newName" name="newName" [(ngModel)]="newName">
        </div>

        <label for="newDesc" class="form-label">Descripcion </label>
        <div class="input-group">
            <input style="height: 50px;" type="text" class="form-control" id="newDesc" name="newDesc"
                [(ngModel)]="newDesc">
        </div>

        <div class="col-sm-3" style="margin-right: 10px;">
            <label for="newAvance" class="form-label">Alta</label><br>
            <input type="number" class="form-control" id="newAvance" name="newAvance" [(ngModel)]="newAvance">
        </div>

        <div style="margin-top: 5px;">
            <button (click)="defaultVist()" type="button" style="margin-right: 5px; padding: 5px;"
                class="btn btn-secondary">Volver</button>
            <button (click)="addForm()" id="addbBtn" type="button" style="padding: 5px;"
                class="btn btn-primary">Agregar</button>
        </div>

    </form>

</section>

<!-- Editar Habilidad -->
<section class="cardMaster" *ngIf="vistaEdit">
    <h3><strong>Editar Habilidad</strong></h3>

    <form class="cardChild">

        <label for="newName" class="form-label">Nombre</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="newName" name="newName" [(ngModel)]="skillEdit.nombre">
        </div>

        <label for="newDesc" class="form-label">Descripcion </label>
        <div class="input-group">
            <input style="height: 50px;" type="text" class="form-control" id="newDesc" name="newDesc"
                [(ngModel)]="skillEdit.descripcion">
        </div>

        <div class="col-sm-3" style="margin-right: 10px;">
            <label for="newAvance" class="form-label">Alta</label><br>
            <input type="number" class="form-control" id="newAvance" name="newAvance" [(ngModel)]="skillEdit.avance">
        </div>

        <div style="margin-top: 5px;">
            <button (click)="defaultVist()" type="button" style="margin-right: 5px; padding: 5px;"
                class="btn btn-secondary">Volver</button>
            <button id="editbBtn" (click)="editar(skillEdit.id)" type="button" style="padding: 5px;"
                class="btn btn-primary">Editar</button>
        </div>

    </form>
</section>