<!-- ESTRUCTURA GENERAL HTML-->
  <body class="container">

    <!--Componente topBar -->
    <section id="topBar" class="">
      <app-top-bar></app-top-bar>
    </section>
    
    <!--Banner y Foto de perfil-->
    <section class="container" id="banner">
      <app-banner></app-banner>
      <app-avatar></app-avatar>
    </section>

    <!-- en esta seccion se implementa la dinamica de vistas -->
    <section class="container" id="seccionInformacion">
      
      <!-- Insertar Componente menu flotante -->
      <ul>
          <a routerLink="/formacion">formacion</a>
          <a routerLink="/mitag"> Acerca de mi</a>
      </ul>
      

      <!-- Ingreso RUTAS Dinamincas-->
      <router-outlet></router-outlet>

    </section>

  </body>