<!-- ESTRUCTURA GENERAL HTML-->
  <body class="container">

    <!--Componente topBar -->
    <section id="topBar" class="">
      <app-top-bar></app-top-bar>
    </section>
    
    <!--Banner y foto de perfil-->
    <section class="container" id="banner">
      <app-banner></app-banner>
      <app-avatar></app-avatar>
    </section>

    <div class="estiloTag d-flex" style="background: red;">
      <div class="col-md-4" style="background: blue;">
        <app-nametag></app-nametag>
      </div>
      <div>
        insertar componente de descripcion
      </div>
    </div>
    

  </body>