<form [formGroup]="form" class="form-login" (ngSubmit)="onEviar($event)">

    <h5>Login</h5>

    <input class="controls" type="email" placeholder="Usuario" formControlName="email">
    <div *ngIf="Email?.hasError && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="text-danger" style="font-size: 12px;">
            * Campo requerido
        </p>
        <p *ngIf="Email?.hasError('email')" class="text-danger" style="font-size: 12px;">
            Debes ingresar un mail valido
        </p>
    </div>
    <input class="controls" type="password" placeholder="Contraseña" formControlName="password">
    <div *ngIf="Password?.hasError && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger" style="font-size: 12px;">
            * Password requerido.
        </p>
    </div>

    <input class="buttons" type="submit" name="" value="Ingresar">

</form>